body {
  background-image: linear-gradient(to right, #a9c9ff, #ffffff);
  font-family: 'Roboto', sans-serif;
}

.Chat {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  position: relative;
}

.welcome-message,
.instructions {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.loading-message {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.latest-result {
  margin-top: 1.5rem;
  text-align: center;
}

.latest-result h2 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.latest-forecast-weather {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.weather-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .current-weather-table,
  .forecast-table {
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

.current-weather-table,
.forecast-table {
  border-collapse: collapse;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.current-weather-table th,
.forecast-table th {
  background-color: #333;
  color: white;
  padding: 0.5rem;
}

.current-weather-table td,
.forecast-table td {
  border: 1px solid #999;
  color: #333;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}

.weather-images {
  margin-top: 1.5rem;
}

.weather-images img {
  border-radius: 8px;
  height: auto;
  object-fit: contain;
  max-width: 300px;
  width: 100%;
}

.source-link {
  bottom: 20px;
  font-size: 15px;
  position: relative;
}

.source-link a {
  color: #000;
  text-decoration: none;
}

.source-link a:hover {
  text-decoration: underline;
}

.temperature-category.extremely-hot {
  color: red;
}

.temperature-category.hot {
  color: rgb(255, 85, 0);
}

.temperature-category.warm {
  color: #ffb507;
}

.temperature-category.cool {
  color: #45ad48;
}

.temperature-category.cold {
  color: #2196F3;
}

.temperature-category.freezing {
  color: #2440da;
}
