.user-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.user-input,
.submit-btn {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
}

.user-input {
  flex-grow: 1;
  border: 1px solid #333;
  border-radius: 5px;
  margin-right: 1rem;
}

.submit-btn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #555;
}
