.Message {
  width: 100%;
  font-size: 1.1rem;
}

.bot-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
